@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  h1 {
    @apply font-poppins;
  }

  p {
    @apply text-[14px];
  }

  button {
    @apply text-white border bg-blue-800 border-blue-800 hover:bg-transparent hover:text-blue-800 rounded-md;
  }
}

/* my Global CSS  */

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flec {
  display: flex;
  flex-direction: column;

  /* background-position: c; */
}

/* Mouuse  CSS */
.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-flex;
}
.mouse-wheel {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  animation: moveWheel 1.25s linear infinite;
}
@keyframes moveWheel {
  0% {
    opacity: 0;
    translate: 0 16px;
  }

  100% {
    opacity: 1;
    translate: 0 -16px;
  }
}

/* nav links effects */

.link {
  position: relative;
  display: inline-block;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.link:hover::before {
  scale: 1;
}
.linked {
  position: relative;
  display: inline-block;
}

.linked::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0d1727;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.linked:hover::before {
  scale: 1;
}

/* scroll  bar  */

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0d1727;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: white;
}

/* .loader */

.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /****** center box
  width: 300px;
  height: 300px;
  border: solid 1px #aaa; */
}

.loader-circle-39 {
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
}

.loader-circle-39 span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid transparent;
  display: inline-block;
  position: absolute;
}

.loader-circle-39 span:nth-child(1) {
  border-right-color: #fff;
  animation: loader-circle-39-clockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(2) {
  border-left-color: #fff;
  animation: loader-circle-39-antiClockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(3) {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: #fff;
  top: 28px;
  left: 28px;
  animation: loader-circle-39-upDown 2s linear infinite;
}

@keyframes loader-circle-39-upDown {
  0% {
    transform: translate(0, 30px);
  }

  50% {
    transform: translate(0, -30px);
  }

  100% {
    transform: translate(0, 30px);
  }
}

@keyframes loader-circle-39-antiClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loader-circle-39-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #0d1727;
}

.loader-circle-39 {
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
}

.loader-circle-39 span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid transparent;
  display: inline-block;
  position: absolute;
}

.loader-circle-39 span:nth-child(1) {
  border-right-color: #fff;
  animation: loader-circle-39-clockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(2) {
  border-left-color: #fff;
  animation: loader-circle-39-antiClockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(3) {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: #fff;
  top: 28px;
  left: 20px;
  animation: loader-circle-39-upDown 2s linear infinite;
}

@keyframes loader-circle-39-upDown {
  0% {
    transform: translate(0, 30px);
  }

  50% {
    transform: translate(0, -30px);
  }

  100% {
    transform: translate(0, 30px);
  }
}

@keyframes loader-circle-39-antiClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loader-circle-39-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Admin Dashboard  */

.adminSidebar {
  width: 20%;
  height: 100vh;
  background-color: #f4f5f6;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;

  overflow-y: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.dashboard {
  width: 83%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.adminSidebar > h3 {
  font-weight: 600;
}

.menus {
  margin: 20px 0 0px;
}

.eachmenu {
  display: flex;
  align-items: center;
  padding: 12px 35px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.eachmenu > img {
  height: 16px;
}
.eachmenu > p {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #162534;
}
.activemenu {
  background-color: white;
}

/* scroll to top */
.scroll {
  position: fixed;

  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: rgb(47, 171, 205);
  width: 35px;
  height: 35px;
  border-radius: 4px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll > img {
  height: 20px;
  color: #fff;
  line-height: 0;
}
