@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  h1 {
    @apply font-poppins;
  }

  button {
    @apply text-white border bg-blue-800 border-blue-800 hover:bg-transparent hover:text-blue-800 rounded-md;
  }
}

/* Mouuse  CSS */
.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-flex;
}
.mouse-wheel {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  animation: moveWheel 1.25s linear infinite;
}
@keyframes moveWheel {
  0% {
    opacity: 0;
    translate: 0 16px;
  }

  100% {
    opacity: 1;
    translate: 0 -16px;
  }
}

/* nav links effects */

.link {
  position: relative;
  display: inline-block;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.link:hover::before {
  scale: 1;
}
.linked {
  position: relative;
  display: inline-block;
}

.linked::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0d1727;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.linked:hover::before {
  scale: 1;
}

/* Loader  */
.loader-wrapper {
  width: 50px;
  height: 50px;
}
.loader {
  width: 100%;
  height: 100%;
  border: 3px solid #162534;
  border-top-color: #2cd9ff;
  border-bottom-color: #7effb2;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.loader--inner {
  border-top-color: #7effb2;
  border-bottom-color: #2cd9ff;
  animation-duration: 2.5s;
}
@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* scroll  bar  */

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0d1727;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: white;
}

/* .loader */

.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /****** center box
  width: 300px;
  height: 300px;
  border: solid 1px #aaa; */
}

.loader-circle-39 {
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
}

.loader-circle-39 span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid transparent;
  display: inline-block;
  position: absolute;
}

.loader-circle-39 span:nth-child(1) {
  border-right-color: #fff;
  animation: loader-circle-39-clockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(2) {
  border-left-color: #fff;
  animation: loader-circle-39-antiClockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(3) {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: #fff;
  top: 28px;
  left: 28px;
  animation: loader-circle-39-upDown 2s linear infinite;
}

@keyframes loader-circle-39-upDown {
  0% {
    transform: translate(0, 30px);
  }

  50% {
    transform: translate(0, -30px);
  }

  100% {
    transform: translate(0, 30px);
  }
}

@keyframes loader-circle-39-antiClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loader-circle-39-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #0d1727;
  /****** center box
width: 300px;
height: 300px;
border: solid 1px #aaa; */
}

/* body {
  background: #202628;
} */

.loader-circle-39 {
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
}

.loader-circle-39 span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid transparent;
  display: inline-block;
  position: absolute;
}

.loader-circle-39 span:nth-child(1) {
  border-right-color: #fff;
  animation: loader-circle-39-clockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(2) {
  border-left-color: #fff;
  animation: loader-circle-39-antiClockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(3) {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: #fff;
  top: 28px;
  left: 20px;
  animation: loader-circle-39-upDown 2s linear infinite;
}

@keyframes loader-circle-39-upDown {
  0% {
    transform: translate(0, 30px);
  }

  50% {
    transform: translate(0, -30px);
  }

  100% {
    transform: translate(0, 30px);
  }
}

@keyframes loader-circle-39-antiClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loader-circle-39-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Admin Dashboard  */

.admin {
}

.adminSidebar {
  width: 20%;
  height: 100vh;
  background-color: #0d1727;
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
  align-items: center;

  overflow-y: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.dashboard {
  width: 83%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.adminSidebar > h3 {
  font-weight: 600;
}

.menus {
  margin: 20px 0 0px;
}

.eachmenu {
  display: flex;
  align-items: center;
  padding: 12px 35px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.eachmenu > img {
  height: 16px;
}
.eachmenu > p {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #1f98d1;
}
.activemenu {
  background-color: white;
}

.foot {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-top: -15px;
}

.sidebarImg > img {
  height: 100%;
  width: 100%;
}

.foot > button {
  width: 100%;
  padding: 10px 0;
  margin: -15px 0 0;
  background-color: #1f98d1;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  font-family: inherit;
}

.aa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.bbv {
  flex: 1;
  width: 700px;
}
.topauthnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.welo {
  font-size: 17px;
  font-weight: 600;
}

.eng {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.eng > img {
  height: 15px;
}
.eng > p {
  font-size: 15px;
  margin-left: 10px;
  color: red;
}

.overview {
  margin: 40px 0;
}
.overview > h2 {
  color: rgb(24, 41, 60);
  font-size: 20px;
  margin-bottom: 10px;
}

.boxx {
  border-radius: 15px;
  padding: 50px 40px;
  display: flex;
  background-color: #1f98d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.leftboxx {
  display: flex;
  flex-direction: column;
  color: white;
}
.leftboxx > h1 {
  color: white;
}
.leftboxx > p {
}

.bb {
  display: flex;
  margin: 50px 0;
}

.eachbb {
  display: flex;
  margin-right: 20px;
  color: white;
}
.eachbb > img {
  height: 30px;
}

.conbb {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.conbb > p {
  font-size: 14px;
  font-weight: 600;
}
.conbb > span {
  font-size: 13px;
  font-weight: 600;
}

.rightboxx {
  position: absolute;
  right: 10px;
}
.rightboxx > img {
  height: 320px;
  width: 300px;
}

.dashfooter {
  display: flex;
}
.popularcourse {
}
.popularcourse > h2 {
  color: rgb(24, 41, 60);
  font-size: 20px;
  margin-bottom: 10px;
}

.eachCourse {
  display: flex;
  align-items: center;
  margin: 10px 0;
  align-items: center;
}
.courselogo {
  height: 35px;
}
.courselogo > img {
  height: 100%;
}

.courseName {
  flex: 1;
  flex-direction: column;
  margin: 0 10px;
}
.courseName p {
  font-size: 14px;
  color: rgb(63, 62, 62);
  font-weight: 600;
}
.courseName span {
  font-size: 13px;
  color: rgb(194, 194, 194);
}

.vc {
  font-size: 12px;
  padding: 5px 7px;
  background-color: rgba(15, 133, 113, 0.196);
  border-radius: 30px;
  border: none;
  color: rgb(24, 41, 60);
  cursor: pointer;
}

.lecturer {
  margin-left: 50px;
  flex: 1;
}

.msgBody {
  margin: 40px 0;
}
.msglogo {
  height: 25px;
}

.ppp {
  display: flex;
  width: 100%;
}

.ddd {
  flex: 1;
}
.fff {
  flex: 2;
  margin-left: 20px;
  border: 1px solid #1f98d1;
}

.ddfg {
  margin: 0;
}

.context {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cccs {
  max-width: 100%;
  width: 100%;

  margin: 0px 0;
  padding: 20px;
  box-shadow: none;
}

/* Externalll */

.horizonBox {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px rgba(221, 208, 200, 0.765);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  flex-direction: row;
  margin: 10px 0;
}

.emptycrt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(221, 208, 200, 0.116);
}

.emptycrt > img {
  height: 100%;
}

.leftHorizonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoCart {
  height: 20px;
  margin: 0 25px 0 0;
}
.logoCart > img {
  height: 100%;
}

.cartContent {
  display: flex;
  flex-direction: column;
}

.topCartContent {
  display: flex;
  align-items: center;
}

.topCartContent > p {
  padding-right: 8px;
  font-size: 15px;
  color: #34343395;
  font-weight: 600;
}

.topCartContent > img {
  height: 17px;
}

.bottomCartContent {
  display: flex;
  align-items: center;
}
.bottomCartContent > p {
  font-size: 14px;
  padding: 10px 0 0;
  font-weight: 500;
}

.rightHorizonBox > button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.cartForm {
  padding: 20px 0;
  margin-top: 60px;
}

.inputrow {
  display: flex;

  width: 100%;
  margin: 20px 0;
}

.pn {
  margin-left: 10px;
}

.cartInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cartInput > label {
  font-size: 12px;
}
.cartInput > input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(221, 208, 200, 0.765);
  padding: 10px 5px;
  outline: none;
  width: 100%;
}

.storeBtn {
  margin-top: 30px;
  padding: 12px 10px;
  background-color: #1f98d1;
  color: white;

  /* font-weight: 550; */
  /* width: 140px; */
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.8px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courseDiv {
  display: flex;
  margin-top: 30px;
}

.leftCourse {
  margin-top: 30px;
}

.deletedash {
  color: white;
  margin-left: 5px;
  background-color: rgb(241, 71, 71);
}
