@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  h1 {
    @apply font-poppins;
  }

  p {
    @apply text-[14px];
  }

  button {
    @apply text-white border bg-blue-800 border-blue-800 hover:bg-transparent hover:text-blue-800 rounded-md;
  }
}

/* my Global CSS  */

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flec {
  display: flex;
  flex-direction: column;

  /* background-position: c; */
}

/* Mouuse  CSS */
.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-flex;
}
.mouse-wheel {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  animation: moveWheel 1.25s linear infinite;
}
@keyframes moveWheel {
  0% {
    opacity: 0;
    translate: 0 16px;
  }

  100% {
    opacity: 1;
    translate: 0 -16px;
  }
}

/* nav links effects */

.link {
  position: relative;
  display: inline-block;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.link:hover::before {
  scale: 1;
}
.linked {
  position: relative;
  display: inline-block;
}

.linked::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0d1727;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.linked:hover::before {
  scale: 1;
}

/* scroll  bar  */

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0d1727;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: white;
}

/* .loader */

.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /****** center box
  width: 300px;
  height: 300px;
  border: solid 1px #aaa; */
}

.loader-circle-39 {
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
}

.loader-circle-39 span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid transparent;
  display: inline-block;
  position: absolute;
}

.loader-circle-39 span:nth-child(1) {
  border-right-color: #fff;
  animation: loader-circle-39-clockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(2) {
  border-left-color: #fff;
  animation: loader-circle-39-antiClockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(3) {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: #fff;
  top: 28px;
  left: 28px;
  animation: loader-circle-39-upDown 2s linear infinite;
}

@keyframes loader-circle-39-upDown {
  0% {
    transform: translate(0, 30px);
  }

  50% {
    transform: translate(0, -30px);
  }

  100% {
    transform: translate(0, 30px);
  }
}

@keyframes loader-circle-39-antiClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loader-circle-39-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #0d1727;
}

.loader-circle-39 {
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
}

.loader-circle-39 span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid transparent;
  display: inline-block;
  position: absolute;
}

.loader-circle-39 span:nth-child(1) {
  border-right-color: #fff;
  animation: loader-circle-39-clockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(2) {
  border-left-color: #fff;
  animation: loader-circle-39-antiClockwise 2s linear infinite;
}

.loader-circle-39 span:nth-child(3) {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: #fff;
  top: 28px;
  left: 20px;
  animation: loader-circle-39-upDown 2s linear infinite;
}

@keyframes loader-circle-39-upDown {
  0% {
    transform: translate(0, 30px);
  }

  50% {
    transform: translate(0, -30px);
  }

  100% {
    transform: translate(0, 30px);
  }
}

@keyframes loader-circle-39-antiClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loader-circle-39-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Admin Dashboard  */

.adminSidebar {
  width: 20%;
  height: 100vh;
  background-color: #f4f5f6;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;

  overflow-y: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.dashboard {
  width: 83%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.adminSidebar > h3 {
  font-weight: 600;
}

.menus {
  margin: 20px 0 0px;
}

.eachmenu {
  display: flex;
  align-items: center;
  padding: 12px 35px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.eachmenu > img {
  height: 16px;
}
.eachmenu > p {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #162534;
}
.activemenu {
  background-color: white;
}

/* scroll to top */
.scroll {
  position: fixed;

  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: rgb(47, 171, 205);
  width: 35px;
  height: 35px;
  border-radius: 4px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll > img {
  height: 20px;
  color: #fff;
  line-height: 0;
}

.image-grid div {
  width: 25%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.image01 {
  background-image: url("../public/faji\ \(10\).jpg");
}
.image02 {
  background-image: url("../public/faji\ \(11\).jpg");
}
.image03 {
  background-image: url("../public/faji\ \(12\).jpg");
}
.image04 {
  background-image: url("../public/faji\ \(13\).jpg");
}
.image05 {
  background-image: url("../public/faji\ \(14\).jpg");
}
.image06 {
  background-image: url("../public/faji\ \(15\).jpg");
}
.image07 {
  background-image: url("../public/faji\ \(16\).jpg");
}
.image08 {
  background-image: url("../public/faji\ \(17\).jpg");
}
.image09 {
  background-image: url("../public/faji\ \(18\).jpg");
}
.image10 {
  background-image: url("../public/faji\ \(19\).jpg");
}
.image11 {
  background-image: url("../public/faji\ \(1\).jpg");
}
.image12 {
  background-image: url("../public/faji\ \(2\).jpg");
}
.image13 {
  background-image: url("../public/faji\ \(3\).jpg");
}
.image14 {
  background-image: url("../public/faji\ \(4\).jpg");
}
.image15 {
  background-image: url("../public/faji\ \(5\).jpg");
}
.image16 {
  background-image: url("../public/faji\ \(6\).jpg");
}
.image17 {
  background-image: url("../public/faji\ \(7\).jpg");
}
.image18 {
  background-image: url("../public/faji\ \(8\).jpg");
}
.image19 {
  background-image: url("../public/faji\ \(9\).jpg");
}
.image20 {
  background-image: url("../public/faji\ \(20\).jpg");
}
.image21 {
  background-image: url("../public/faji\ \(21\).jpg");
}
.image22 {
  background-image: url("../public/faji\ \(22\).jpg");
}
.image22 {
  background-image: url("../public/faji\ \(22\).jpg");
}
.image23 {
  background-image: url("../public/faji\ \(23\).jpg");
}
.image24 {
  background-image: url("../public/faji\ \(24\).jpg");
}
.image25 {
  background-image: url("../public/faji\ \(25\).jpg");
}
.image26 {
  background-image: url("../public/faji\ \(26\).jpg");
}
.image27 {
  background-image: url("../public/faji\ \(27\).jpg");
}
.image28 {
  background-image: url("../public/faji\ \(28\).jpg");
}
.image29 {
  background-image: url("../public/faji\ \(29\).jpg");
}
.image30 {
  background-image: url("../public/faji\ \(30\).jpg");
}
.image31 {
  background-image: url("../public/faji\ \(31\).jpg");
}
.image32 {
  background-image: url("../public/faji\ \(32\).jpg");
}
.image33 {
  background-image: url("../public/faji\ \(33\).jpg");
}
.image34 {
  background-image: url("../public/faji\ \(34\).jpg");
}
.image35 {
  background-image: url("../public/faji\ \(35\).jpg");
}
.image36 {
  background-image: url("../public/faji\ \(36\).jpg");
}
.image37 {
  background-image: url("../public/faji\ \(37\).jpg");
}
.image38 {
  background-image: url("../public/faji\ \(38\).jpg");
}
.image39 {
  background-image: url("../public/faji\ \(39\).jpg");
}
.image40 {
  background-image: url("../public/faji\ \(40\).jpg");
}
.image41 {
  background-image: url("../public/faji\ \(41\).jpg");
}
.image42 {
  background-image: url("../public/faji\ \(42\).jpg");
}
.image43 {
  background-image: url("../public/faji\ \(43\).jpg");
}
.image44 {
  background-image: url("../public/faji\ \(44\).jpg");
}
.image45 {
  background-image: url("../public/faji\ \(45\).jpg");
}
.image46 {
  background-image: url("../public/faji\ \(46\).jpg");
}
.image47 {
  background-image: url("../public/faji\ \(47\).jpg");
}
.image48 {
  background-image: url("../public/faji\ \(48\).jpg");
}
.image49 {
  background-image: url("../public/faji\ \(49\).jpg");
}
.image50 {
  background-image: url("../public/faji\ \(50\).jpg");
}
.image51 {
  background-image: url("../public/faji\ \(51\).jpg");
}
.image52 {
  background-image: url("../public/faji\ \(52\).jpg");
}
.image53 {
  background-image: url("../public/faji\ \(53\).jpg");
}
.image54 {
  background-image: url("../public/faji\ \(54\).jpg");
}
.image55 {
  background-image: url("../public/faji\ \(55\).jpg");
}
.image56 {
  background-image: url("../public/faji\ \(56\).jpg");
}
.image57 {
  background-image: url("../public/faji\ \(57\).jpg");
}
.image58 {
  background-image: url("../public/faji\ \(58\).jpg");
}
.image59 {
  background-image: url("../public/faji\ \(59\).jpg");
}
.image60 {
  background-image: url("../public/faji\ \(60\).jpg");
}
.image61 {
  background-image: url("../public/faji\ \(61\).jpg");
}
.image62 {
  background-image: url("../public/faji\ \(62\).jpg");
}
.image63 {
  background-image: url("../public/faji\ \(63\).jpg");
}
.image64 {
  background-image: url("../public/faji\ \(64\).jpg");
}
.image65 {
  background-image: url("../public/faji\ \(65\).jpg");
}
.image66 {
  background-image: url("../public/faji\ \(66\).jpg");
}
.image67 {
  background-image: url("../public/faji\ \(67\).jpg");
}
.image68 {
  background-image: url("../public/faji\ \(68\).jpg");
}
.image69 {
  background-image: url("../public/faji\ \(69\).jpg");
}
.image70 {
  background-image: url("../public/faji\ \(70\).jpg");
}
.image71 {
  background-image: url("../public/faji\ \(71\).jpg");
}
.image72 {
  background-image: url("../public/faji\ \(72\).jpg");
}
.image73 {
  background-image: url("../public/faji\ \(73\).jpg");
}
.image74 {
  background-image: url("../public/faji\ \(74\).jpg");
}
.image75 {
  background-image: url("../public/faji\ \(75\).jpg");
}
.image76 {
  background-image: url("../public/faji\ \(76\).jpg");
}
.image77 {
  background-image: url("../public/faji\ \(77\).jpg");
}
.image78 {
  background-image: url("../public/faji\ \(78\).jpg");
}
.image79 {
  background-image: url("../public/faji\ \(79\).jpg");
}
.image80 {
  background-image: url("../public/faji\ \(80\).jpg");
}
.image81 {
  background-image: url("../public/faji\ \(81\).jpg");
}
.image82 {
  background-image: url("../public/faji\ \(82\).jpg");
}

@media screen and (max-width: 500px) {
  .image-grid {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .image-grid div {
    width: 100%;
  }
}
